---

services:
  drupal:
    image: $DRUPAL_IMAGE:$DRUPAL_IMAGE_TAG
    pull_policy: always
    restart: unless-stopped
    environment:
      APP_DOMAIN: $SERVICE_URL_DRUPAL
      DB_HOST: mariadb
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASS: ${SERVICE_MARIADB_PASSWORD}
      HASH_SALT: ${SERVICE_BASE64_64_DRUPAL}
      REDIS_ENABLED: true
      REDIS_HOST: redis
    volumes:
      - drupal-files:/var/www/html/web/sites/default/files
      - drupal-private:/var/www/html/private-files
    healthcheck:
      test:
        - CMD-SHELL
        - "scripts/healthcheck"
    depends_on:
      - db
      - redis
  mariadb:
    image: ${DB_IMAGE}:${DB_IMAGE_TAG}
    restart: unless-stopped
    stop_grace_period: 30s
    environment:
      MYSQL_ROOT_PASSWORD: ${SERVICE_MARIADB_PASSWORD}
      MYSQL_DATABASE: drupal
      MYSQL_USER: drupal
      MYSQL_PASSWORD: ${SERVICE_MARIADB_PASSWORD}
    volumes:
      - ./etc/mysql/conf.d:/etc/mysql/conf.d
      - mariadb-data:/var/lib/mysql
  redis:
    image: $REDIS_IMAGE:$REDIS_IMAGE_TAG
    restart: unless-stopped

volumes:
  mariadb-data:
  drupal-files:
  drupal-private:
