---

services:
  drupal:
    image: $DRUPAL_IMAGE
    pull_policy: always
    restart: unless-stopped
    environment:
      DRUPAL_IMAGE: ${DRUPAL_IMAGE:?}
      APP_DOMAIN: $SERVICE_FQDN_DRUPAL
      DB_HOST: mariadb
      DB_NAME: ${DB_NAME:-db}
      DB_USER: ${DB_USER:-db}
      DB_PASS: $SERVICE_PASSWORD_DB
      HASH_SALT: $SERVICE_BASE64_64_DRUPAL
      REDIS_ENABLED: true
      REDIS_HOST: redis
    volumes:
      - drupal-files:/var/www/html/web/sites/default/files
      - drupal-private:/var/www/html/private-files
    healthcheck:
      test:
        - CMD-SHELL
        - "scripts/healthcheck"
    depends_on:
      - db
      - redis
  mariadb:
    image: ${DB_IMAGE:?}
    restart: unless-stopped
    stop_grace_period: 30s
    environment:
      DB_IMAGE:
      MYSQL_ROOT_PASSWORD: $SERVICE_PASSWORD_DBROOT
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $DB_USER
      MYSQL_PASSWORD: $SERVICE_PASSWORD_DB
    volumes:
      - ./etc/mysql/conf.d:/etc/mysql/conf.d
      - mariadb-data:/var/lib/mysql
  redis:
    image: ${REDIS_IMAGE:-redis}
    restart: unless-stopped

volumes:
  mariadb-data:
  drupal-files:
  drupal-private:
